<?php /** @var $block Qxd\ERP\Block\Adminhtml\Order\View\Tab\ERP */ ?>

<?php if ($block->isErpEnabled()): ?>
    <section class="admin__page-section order-view-account-information">
        <div class="admin__page-section-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('ERP Order Information') ?></span>
        </div>
        <div class="admin__page-section-content">
            <div class="admin__page-section-item order-information">
                <?php /* Treasury Information */ ?>
                <div class="admin__page-section-item-title">
                <span class="title"><?php /* @escapeNotVerified */
                    echo __('Synchronization Log(s)') ?></span>
                </div>
                <div class="admin__page-section-item-content">
                    <table class="admin__table-secondary order-account-information-table">
                        <tr>
                            <th>
                                <?php /* @escapeNotVerified */
                                echo $block->getErpLog() ?>
                            </th>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="admin__page-section-item order-information">
                <?php /* Treasury Information */ ?>
                <div class="admin__page-section-item-title">
                <span class="title"><?php /* @escapeNotVerified */
                    echo __('Treasury Information') ?></span>
                </div>
                <div class="admin__page-section-item-content" style="overflow: scroll; overflow-y: hidden;">
                    <table class="admin__table-secondary order-account-information-table">
                        <tr>
                            <th><?php /* @escapeNotVerified */
                                echo __('Status') ?></th>
                            <td>
                                <?php /* @escapeNotVerified */
                                echo $block->getTreasuryData('status') ?>
                            </td>
                        </tr>
                        <tr>
                            <th><?php /* @escapeNotVerified */
                                echo __('Invoice Number') ?></th>
                            <td>
                                <?php /* @escapeNotVerified */
                                echo $block->getTreasuryData('number') ?>
                            </td>
                        </tr>
                        <tr>
                            <th><?php /* @escapeNotVerified */
                                echo __('Invoice Key') ?></th>
                            <td>
                                <?php /* @escapeNotVerified */
                                echo $block->getTreasuryData('key') ?>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <?php if ((bool)$block->getTreasuryData('status_bool')): ?>

        <button id="erp-resend-order" class="action-default scalable action-save action-secondary">
            Resend Order
        </button>
        <img src="<?php /* @escapeNotVerified */
        echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
             alt="<?php /* @escapeNotVerified */
             echo __('Loading...'); ?>"
             id="erp-resend-order-loader"
             style="width: 1.5%; display: none">

    <?php endif; ?>

    <script type="application/javascript">
        require([
            'jquery',
            'prototype'
        ], function (jQuery) {
            function resendOrder() {
                jQuery('#erp-resend-order-loader').css('display', 'inline');
                jQuery('#erp-resend-order').attr('disabled', 'disabled');
                new Ajax.Request('<?php echo $this->getUrl('erp/*/resend', ['_current' => true]) ?>', {
                    loaderArea: false,
                    asynchronous: true,
                    parameters: {
                        'order_id': <?= $block->getOrder()->getId() ?>
                    },
                    onSuccess: function (transport) {
                        var response = JSON.parse(transport.responseText);
                        alert(response.status);
                        jQuery('#erp-resend-order-loader').css('display', 'none');
                        jQuery('#erp-resend-order').removeAttr('disabled');
                        location.reload();
                    },
                    onFailure: function () {
                        jQuery('#erp-resend-order-loader').css('display', 'none');
                        jQuery('#erp-resend-order').removeAttr('disabled');
                    }
                });
            }

            jQuery('#erp-resend-order').click(function () {
                resendOrder();
            });
        });
    </script>
<?php else: ?>
    <section class="admin__page-section order-view-account-information">
        <div class="admin__page-section-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Merge ERP extension is disabled') ?></span>
        </div>
    </section>
<?php endif; ?>

