
<?php if ($block->isEnabled()): ?>
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Merge ERP Custom Information') ?></span></legend><br>
    <div class="field field-qxd-erp-id-type">
        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId('qxd_erp_id_type') ?>">
            <span><?php /* @escapeNotVerified */ echo $block->getStoreLabel('qxd_erp_id_type') ?></span>
        </label>

        <div class="control">
            <select id="<?php /* @escapeNotVerified */ echo $block->getFieldId('qxd_erp_id_type') ?>"
                    name="<?php /* @escapeNotVerified */ echo $block->getFieldName('qxd_erp_id_type') ?>"
                    title="<?php /* @escapeNotVerified */ echo $block->getStoreLabel('qxd_erp_id_type') ?>"
                    class="<?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('qxd_erp_id_type') ?>">
                <?php foreach ($block->getIdTypeOptions() as $key => $_option): ?>
                    <option value="<?php /* @escapeNotVerified */ echo $key ?>"<?php if ($block->getObject()->getCustomAttribute('qxd_erp_id_type')->getValue() == $key): ?> selected="selected"<?php endif; ?>>
                        <?php /* @escapeNotVerified */ echo __($_option) ?>
                    </option>
                <?php endforeach; ?>
            </select>

        </div>
    </div>
    <div class="field field-qxd-erp-id">
        <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId('qxd_erp_id') ?>">
            <span><?php /* @escapeNotVerified */ echo $block->getStoreLabel('qxd_erp_id') ?></span>
        </label>

        <div class="control">
            <input type="text" id="<?php /* @escapeNotVerified */ echo $block->getFieldId('qxd_erp_id') ?>"
                   name="<?php /* @escapeNotVerified */ echo $block->getFieldName('qxd_erp_id') ?>"
                   value="<?php echo $block->escapeHtml($block->getObject()->getCustomAttribute('qxd_erp_id')->getValue()) ?>"
                   title="<?php /* @escapeNotVerified */ echo $block->getStoreLabel('qxd_erp_id') ?>"
                   class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('qxd_erp_id') ?>">
        </div>
    </div>
<?php endif ?>